<!DOCTYPE html>
<html>
  <head>
    <title>Notebook</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-default navbar-fixed-top navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-navbar-collapse" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/"><span class="glyphicon glyphicon-book" aria-hidden="true"></span> Notebook</a>
        </div>
        <div class="collapse navbar-collapse" id="main-navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="<%= 'active' if current_controller?('kinds') %>" role="presentation">
              <%= link_to kinds_path do %>
                <span class="glyphicon glyphicon-bookmark" aria-hidden="true"></span>
                <%= Kind.model_name.human(count: 2) %>
              <% end %>
            </li>
            <li class="<%= 'active' if current_controller?('contacts') %>" role="presentation">
              <%= link_to contacts_path do %>
                <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                <%= Contact.model_name.human(count: 2) %>
              <% end %>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="container-fluid main">
      <script>$.notify('<%= t(notice, default: notice) if notice %>', { className: 'success', position: 'bottom right' });</script>
      <script>$.notify('<%= t(alert, default: alert) if alert %>', { className: 'warn', position: 'bottom right' });</script>
      <%= yield %>
    </div>
  </body>
</html>

